---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroSection from '../../components/HeroSection.astro';
---

<Layout title="Returns Policy">
  <main class="py-10">

  </main>
      <section class="py-12 bg-white dark:bg-secondary-500">
      </section>
</Layout>