---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroSection from '../../components/HeroSection.astro';
---


<Layout title="Masterclasses">
  <Header />

  <main class="py-16 w-full container-custom bg-primary-500 space-y-16">
    <HeroSection 
      title="Masterclasses" 
      description="Choose a plan that fits your mission. All options include a 14-day free trial—no credit card required."
    />

  </main>
    <section class="w-full bg-secondary-500 py-16 text-white text-center">
  </section>
  <Footer />
</Layout> 
