---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroSection from '../../components/HeroSection.astro';
---


<Layout title="Workshops">
  <Header />

  <main class="py-16 w-full container-custom bg-secondary-500 space-y-16">
    <HeroSection 
      title="Workshops" 
      description="Choose a plan that fits your mission. All options include a 14-day free trial—no credit card required."
    />

  </main>
      <section class="py-12 bg-white dark:bg-secondary-500">
            <div class="max-w-6xl mx-auto px-4">
            <div/>
      <section/>
  <Footer />
</Layout> 
