---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Packages">
  <Header />

  <main class="py-8">
    <HeroSection 
      title="Packages" 
      description="Your privacy matters. Here's how we handle your data at Green Orbit Digital."
    />

    <section class="py-16 bg-white dark:bg-secondary-500">


    </section>
  </main>

  <Footer />
</Layout>