---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Your Project">
  <Header />

  <main class="py-8">
    <HeroSection 
      title="Your Project" 
      description="Your privacy matters. Here's how we handle your data at Green Orbit Digital."
    />

    <section class="py-16 bg-white dark:bg-secondary-500">
This is text
    </section>

    <section class="py-16 bg-white dark:bg-secondary-500">
<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "143471159",
    formId: "9a5d2ee9-4027-4986-ab87-03aefdd5b2bc",
    region: "eu1"
  });
</script>
    </section>
  </main>

  <Footer />
</Layout>