---
---
<section id="signup" class="section">

  <div class="mt-16 bg-accent-500 rounded-2xl p-8 md:p-12 relative overflow-hidden">
    <div class="card p-8 md:p-12 border border-gray-200 dark:bg-secondary-500">
      <div class="text-center mb-8">
        <h2 class="mb-4 text-gray-900 dark:text-white">Stay Updated</h2>
        <p class="text-gray-600 dark:text-gray-300 max-w-2xl mx-auto">
          Subscribe to our newsletter to receive the latest updates, tips, and exclusive offers.
        </p>
      </div>
      
<iframe width="800" height="300" src="https://a1d87853.sibforms.com/serve/MUIFAI2ac5tEUKgsneiBMCzDkoATN-YZO-IkHMWr077WW-LvigFP1f9Az_q9jPuB7knvGT_Jg_zIVycB6L5Xtr7Ls_1gn-pu3YOvOunj6OSs66bhHbAeAzjCJVhe52JjJUnRb7HHTmRIVuN7agW_SyXmff_TshccqT1cVOMKFApvCco7novSbGUoElEToW7cL8Iapi5c358M6xI8" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
      
      </div>
    </div>
  </div>
</section>