---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroSection from '../../components/HeroSection.astro';
---

<Layout title="For Space">
  <Header />

  <main class="py-12">
    <HeroSection 
      title="For Space" 
      description="Choose a plan that fits your mission. All options include a 14-day free trial—no credit card required." 
    />

    <section class="container mx-auto px-4 my-8">

    </section>
  </main>

  <Footer />
</Layout>